#root {
  width: 100%;
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.SimContainer{
  /* background-color: orange; */
  height: 100%;
}
.SimControls{
  background-color: red;
  padding: 6px;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.SimControlText{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  gap: 20px;
  margin-bottom: 20px;
}

.SimSliders{
  background-color: #ba7e5c;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  top: 65px;
  left: 20px;
  opacity: 0.9;
  border-width: 3px;
  border-style: solid;
  border-color:  #f0ebd8;
}

.SimToggles{
  background-color: blue;
  width: 150px;
}

.SimStartButton{
  position: fixed;
  height: 35px;
  text-align: center;
  width: 150px;
  left: 70px;
  font-size: 12px;
  background-color: #ba7e5c;
}

.SimEndButton{
  position: fixed;
  height: 35px;
  text-align: center;
  width: 150px;
  left: 70px;
  font-size: 12px;
  background-color: #ba7e5c;
}

.SimTimer{
  margin: 20px;
  position: fixed;
  height: 35px;
  text-align: center;
  width: 200px;
  left: 210px;
  font-size: 12px;
  background-color: #ba7e5c;
}

.TopBar{
  position: sticky;
  top: 0;
  background-color: #f0ebd8;
  width: 100%;
  z-index: 1000;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px#f0ebd8;
}

.DropDownToggle{
  height: 35px;
  position: fixed;
  left: 20px;
  width: 35px;
  text-align: center;
  padding: 0px;
  background-color: #ba7e5c;
}


.ChartContainer{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  top: 400px;
  left: 20px;
}

.MainContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  gap: 20px;
}

.OptionsButtonIcon{
  height: 60px;
  width: 60px;
  position: absolute;
  left: 30px;
  top: 60px;
  border-radius: 25px;
  background-color: transparent;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(186, 184, 184);
  padding: 0px;
  font-size: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.OptionsButtonIcon:hover{
  background-color: rgba(251, 105, 0, 0.864);
}

