.CoralPopup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0292A5;
    color: white;
    z-index: 9999;
    padding: 30px;
    border-radius: 16px;

    background: linear-gradient(#0292A5, #0292A5) padding-box,
    linear-gradient(to bottom, #0292A5, #FFFFFF) border-box;
    border: 4px solid transparent;
    width: calc(562/1440*100%); /* calculate width - figma width is different from sim canvas width (figmaAssetWidth/figmaEnvironmentWidth*100%)*/

      /* Animation */
  opacity: 0;            /* start invisible */
  animation: fadeUp 0.5s ease forwards; 
}


.CoralTitle{
  font-size: 26px;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.ScienceName {
  font-size: 14px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.statusContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
  

.CoralStatus {
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.CoralInfo {
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.microCoralView {
  position: absolute;
  top: -80px;
  right: -80px;
  width: 230px;
}

.CoralOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%); /* start low */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); /* move up to final pos */
  }
}