.SimBubblePopUp{
    width: 750px;
    height: 600px;
    background-color: rgba(2, 146, 165, 0.9);
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    backdrop-filter: blur(4px);

}

.SimBubblePopUpGraph{
    position: absolute;
    width: 650px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.SimBubblePopUpSubmit{
    position: absolute;
    bottom: 40px;
    right: 60px;
    height: 50px;
    width: 170px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    color:rgba(2, 146, 165, 0.8);
    transition: 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.SimBubblePopUpGoBack{
    position: absolute;
    bottom: 40px;
    left: 60px;
    height: 50px;
    width: 120px;
    background-color: rgba(2, 146, 165, 0.8);
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    transition: 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.SimBubblePopUpSliderLabel{
    position: relative;
    top: 2px;
}

.SimBubblePopUpSlider{
    position: absolute; 
    top: 375px; 
    left: 392px; 
    transform: translate(-50%, -50%);
    height: 50px;
    width: 613px;
}

.SimBubblePopUpSlider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: white; 
  border-radius: 3px;
  outline: none;
}

.SimBubblePopUpSlider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #F86A1C; 
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer; 
}
.SimBubblePopUpSliderOutput {
  position: absolute;
  top: 30px;
  background: #0E2A2E;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  transform: translateX(-50%);
  pointer-events: none;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.SimBubblePopUpSliderOutputLine {
  position: absolute;
  border-left: 2px dashed #F86A1C;
  height: 150px;
}
.SimBubblePopUpWarning{
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
}
.SimBubblePopUpTitle{
  position: absolute;
  top: 20px;
  left: 20px;
}
.SimBubblePopUpTutorial{
    position: absolute;
    top: 400px;
    left: 87px;
}

.SimBubblePopUpSubmit:hover{
  background-color: #F86A1C; 
  color: white;
  scale: 1.10;
}

.SimBubblePopUpGoBack:hover{
  background-color: #F86A1C; 
  color: white;
  scale: 1.10;
}

.SimBubblePopUpSlider::-webkit-slider-thumb:hover{
    scale: 1.10;
}

